/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v29-latin-300.woff2") format("woff2"), url("../fonts/roboto-v29-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v29-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v29-latin-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-mono-v21-latin-regular.woff2") format("woff2"), url("../fonts/roboto-mono-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-mono-v21-latin-500.woff2") format("woff2"), url("../fonts/roboto-mono-v21-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Rubik', 'Roboto Mono';
  background: #E5E5E5;
}

.container {
  width: 1480px;
  margin: 0 auto;
}

header {
  background-color: #2A8086;
}

.header {
  position: sticky;
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  list-style-type: none;
  width: 502px;
  margin-left: 54px;
  justify-content: space-between;
}

.header__list2 {
  display: flex;
  list-style-type: none;
  width: 255px;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E6;
}

.header__link:hover {
  border-bottom: 2px solid #C5E1E6;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.section1 {
  position: relative;
  height: 803px;
  background: url("../../images/section1/bgsection1.png");
  background-repeat: no-repeat;
  background-position: top;
}

.section1__box {
  display: flex;
}

.section1__left {
  margin-top: 73px;
  width: 700px;
}

.section1__title {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #F3F7F8;
  margin-bottom: 27px;
}

.section1__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F3F7F8;
  margin-bottom: 87px;
}

.section1__link {
  background: #FFFFFF;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 100px;
  padding: 14px 84px;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #0D444D;
}

.section1__right {
  position: relative;
}

.section1__img {
  width: 803px;
  height: 666px;
}

.section1__img2 {
  position: absolute;
  top: 308px;
  left: 373px;
}

.section1__box2 {
  position: relative;
}

.section1__title2 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0D444D;
  margin-bottom: 90px;
}

.section1__list2 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.section1__item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1__img3 {
  padding: 47px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 14px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
}

.section1__text2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0D444D;
}

.section1__end {
  margin-top: 70px;
  height: 493px;
  background: url("../../images/section1/section1end.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section2__box {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.section2__title {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0D444D;
}

.section2__choose {
  position: relative;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #19707D;
  padding: 14px 20px 14px 60px;
  border: 1.5px solid #19707D;
  border-radius: 100px;
}

.section2__choose::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../images/section2/s2heart.svg);
  left: 26px;
  top: 16px;
}

.section2__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section2__item {
  position: relative;
  width: 480px;
  height: 364px;
  padding: 20px 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 20px;
}

.section2__item:hover {
  transition: .5s ease all;
  transform: translateX(-16px) translateY(-16px);
}

.section2__link {
  text-decoration: none;
}

.section2__img {
  margin-left: 106px;
}

.section2__line {
  margin-top: 36px;
  margin-bottom: 17px;
  border: 1px solid #E5EAEB;
}

.section2__name {
  margin-left: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D2D;
}

.section2__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
  margin-left: 30px;
}

.section2__icon {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  right: 30px;
  bottom: 30PX;
  background: url("../../images/section2/TV.svg");
}

.section2__end {
  padding-top: 68px;
  margin-top: 100px;
  height: 530px;
  background: url("../../images/section2/s2end.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 99px;
}

.section2__box2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2__title2 {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #C5E1E6;
}

.section2__link2 {
  background: #C5E1E6;
  border-radius: 100px;
  padding: 14px 74px;
  text-decoration: none;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #0D444D;
}

.section2__list2 {
  position: relative;
  margin-top: 100px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.section2__item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2__icon2 {
  background: #fff;
  border-radius: 50%;
  padding: 47px;
  margin-bottom: 14px;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
}

.section2__text2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C5E1E6;
}

.section2__arrow {
  content: "";
  width: 797px;
  height: 52px;
  background: url("../../images/section2/s2arrows.svg");
  position: absolute;
  left: 360px;
  transform: translateY(60px);
}

.section3__box {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section3__title {
  margin-top: 15px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0D444D;
}

.section3__link {
  position: relative;
  padding: 14px 20px 14px 60px;
  text-decoration: none;
  border: 1.5px solid #19707D;
  border-radius: 100px;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #19707D;
}

.section3__link::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../images/section3/sms.svg");
  position: absolute;
  left: 30px;
  top: 14px;
}

.section3__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.section3__item {
  width: 480px;
  height: 190px;
  padding: 28px 45px;
  background: url("../../images/section3/s3bg.svg");
  background-position: center;
}

.section3__time {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  margin-bottom: 9px;
}

.section3__text {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.section3__list2 {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.section3__item2 {
  width: 480px;
  transform: translateY(-5px) translateX(10px);
  display: flex;
  align-items: center;
}

.section3__item2:nth-child(2) {
  transform: translateX(30px) translateY(-5px);
}

.section3__item2:nth-child(3) {
  transform: translateX(50px) translateY(-5px);
}

.section3__title2 {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 16px;
  color: #000000;
}

.section3__title3 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0D444D;
}
