.section1 {
    position: relative;
    height: 803px;
    background: url("../../images/section1/bgsection1.png");
    background-repeat: no-repeat;
    background-position: top;
    // background-size:contain;

    &__box {
        display: flex;
    }

    &__left {
        margin-top: 73px;
        width: 700px;
    }

    &__title {
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 72px;
        line-height: 85px;
        color: #F3F7F8;
        margin-bottom: 27px;        
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #F3F7F8;   
        margin-bottom: 87px;     
    }

    &__link {
        background: #FFFFFF;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
        border-radius: 100px;
        padding: 14px 84px;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;    
        color: #0D444D;        
    }

    &__right {
        position: relative;
    }

    &__img {
        width: 803px;
        height: 666px;
    }

    &__img2 {
        position: absolute;
        top: 308px ;
        left: 373px;
    }

    &__box2 {
        position: relative;
    }

    &__title2 {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #0D444D;   
        margin-bottom: 90px;     
    }

    &__list2 {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    &__item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img3 {
        padding: 47px;
        background: #fff;
        border-radius: 50%;
        margin-bottom: 14px;
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
    }

    &__text2 {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #0D444D;        
    }

    &__end {
        margin-top: 70px;
        height: 493px;
        background: url("../../images/section1/section1end.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}