.section2 {


    &__box {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 66px;
    }

    &__title {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #0D444D;
    }

    &__choose {
        position: relative;
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #19707D;
        padding: 14px 20px 14px 60px;
        border: 1.5px solid #19707D;
        border-radius: 100px;

        &::before {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            background: url(../images/section2/s2heart.svg);
            left: 26px; 
            top: 16px;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 480px;
        height: 364px;
        padding: 20px 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin-bottom: 20px;

        &:hover {
            transition: .5s ease all;
            transform: translateX(-16px) translateY(-16px);
        }
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        margin-left: 106px;
    }

    &__line {
        margin-top: 36px;
        margin-bottom: 17px;
        border: 1px solid #E5EAEB;
    }

    &__name {
        margin-left: 30px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2D2D2D;        
    }

    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #919191;
        margin-left: 30px;
    }

    &__icon {
        content: "";
        width: 32px;
        height: 32px;
        position: absolute;
        right: 30px;
        bottom: 30PX;
        background: url("../images/section2/TV.svg");

    }

    &__end {
        padding-top: 68px;
        margin-top: 100px;
        height: 530px;
        background: url("../images/section2/s2end.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 99px;
    }

    &__box2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title2 {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #C5E1E6;
    }

    &__link2 {
        background: #C5E1E6;
        border-radius: 100px;
        padding: 14px 74px;
        text-decoration: none;
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.05em;
        color: #0D444D;
    }

    &__list2 {
        position: relative;
        margin-top: 100px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    &__item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__icon2 {
        background: #fff;
        border-radius: 50%;
        padding: 47px;
        margin-bottom: 14px;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6)
    }

    &__text2 {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #C5E1E6;
    }

    &__arrow {
        content: "";
        width: 797px;
        height: 52px;
        background: url("../images/section2/s2arrows.svg");
        position: absolute;
        left: 360px;
        transform: translateY(60px);
    }
}